@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

* {
    box-sizing: border-box;

}

body {
    background-color: #bfa875;
    font-family: "Press Start 2P", system-ui;
    color: white;
    height: 100vh;
    overflow: hidden;
    text-align: center;
}

.choose-insect-btn img{

}
